body {
    font-family: arial, sans-serif;
    
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.centered-form {
    width: 25%;
    margin: auto;
}

table {
    border-collapse: collapse;
}

.centered-table {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    margin-left: 2.5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

h1, h2 {
    text-align: center;
}

.footer-text {
    margin-left: 10px;
}

footer {
    color: white;

    background-color: rgb(187, 0, 255);
    min-height: 50px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.overflow-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.sticky-element {
    position: sticky;
    left: 0;
    background-color: #ffffff;
}