body {
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    background-image: url("tausta.png");
}
main {
    flex: 1;
    margin-top: 50px;
}
.main2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    padding-bottom: 100px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    background-color: blueviolet;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    z-index: 1000
}

@media (max-width: 1000px) {
    nav {
        font-size: 15px;
    }
}

a {
    color: #ffffff;
    font-family: Snell Roundhand, cursive;
}


.welcome {
    position: fixed;
    top: 70px;
    left: 10px;
    color: #ffffff;
}

@media (max-width: 400px) {
    .etusivu {
        font-size: 50px;
    }
}

h1, h2 {
    text-align: center;
    color: #ffffff;
    font-family: Snell Roundhand, cursive;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color: white;
    background-color: blueviolet;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

tbody {
    background-color: darkslateblue;
}

tr:nth-child(even) {
    background-color: violet;
}

.overflow-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    table-layout: auto;
}

.sticky-element {
    position: sticky;
    left: 0;
    z-index: 2; 
    background-color: blueviolet;
}

footer {
    background-color: blueviolet;
    min-height: 50px;
    color: #ffffff;
    font-family: Snell Roundhand, cursive;
}

.footer-text {
    margin-left: 10px;
}

.centered-table {
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
    background-color: rgba(255,255,255,0.05);
    border-radius: 10px;
}
.centered-table2 {
    width: 50%;
    margin: 0 auto;
    overflow-x: auto;
    background-color: rgba(255,255,255,0.05);
    border-radius: 10px;
}

fieldset {
    width: fit-content;
    zoom: 1.2;
    color: white;
    text-align: center;
    background-color: blueviolet;
    border-radius: 15px;
    display: block;
    font-family: Arial, sans-serif;
}

.testi {
    margin-left: 15px;
}
.lisaa_oppilas_fieldset {
    background-color: darkslateblue;
}

.harjpaikka_fieldset {
    transform: scale(1.5);

}

@media (max-width: 900px) {
    .harjpaikka_fieldset {
        transform: scale(1.1);
        transform-origin: top left;
    }
    .centered-table2 {
    width: 80%;
    }
}
@media (max-width: 600px) {
    .harjpaikka_fieldset {
        transform: scale(1);
    }

}

.page-content {
    display: flex;
    flex: 1;
}

.button {
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(65, 113, 218);
    color: #ffffff;
    border-color: white;
    font-weight: bold;
}