body {
    font-family: 'Roboto';
    
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.centered-form {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.centered-table {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    margin-left: 2.5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

h1, h2 {
    text-align: center;
}

.footer-text {
    margin-left: 10px;
    color: black;
}

.button-input {
    width: 200px;

    background-color: white;
    margin: 20px;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 8px #666;
    padding-top: 10px;
}

.button-input:hover {
    background-color: #dddddd;
}

.footer-text > a {
    color: black;
}

footer {
    min-height: 50px;
    box-shadow: 0 0 8px #666;
    margin-top: auto;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.overflow-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.sticky-element {
    position: sticky;
    left: 0;
    background-color: #ffffff;
}

.rounded-fieldset {
    margin: 20px;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 8px #666;
    padding-top: 10px;
}

.rounded-fieldset > legend  {
    padding: 2px 4px;
    background: #fff;
    border: 1px solid #666;
    border-radius: 8px;
}

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    box-shadow: 0 0 8px #666;
}

.navbar li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #dddddd;
}

.navbar li a:hover {
    background-color: #dddddd;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2px;
}

.navbar-right span {
    padding: 0 8px;
}
