body {
    font-family: 'Roboto';
    
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.centered-form {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.centered-table {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    margin-left: 2.5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

h1, h2 {
    text-align: center;
}

.footer-text {
    margin-left: 10px;
    color: black;
}

.button-input {
    width: auto;
    margin: 20px;
}

.footer-text > a {
    color: black;
}

footer {
    min-height: 50px;
    box-shadow: 0 0 8px #666;
    margin-top: auto;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.overflow-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.sticky-element {
    position: sticky;
    left: 0;
    background-color: #ffffff;
}

.rounded-fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.rounded-fieldset > legend  {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 5px;
}

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    box-shadow: 0 0 8px #666;
}

.navbar li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #dddddd;
}

.navbar li a:hover {
    background-color: #dddddd;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0px;
}

.admin-panel-div {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    row-gap: 5px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.admin-panel-child {
    display: contents;
    text-align: left;
}

.align-center-horizontal {
    text-align: center;
}

.horizontal-center {
    display: block;       
    margin: 0 auto;       
    width: 300px;         
    padding: 5px 10px;    
    font-size: 16px;      
    margin-bottom: 16px;
}